USE [MartDB]
GO
/****** Object:  User [SethyRung]    Script Date: 11/13/2022 10:07:05 AM ******/
CREATE USER [SethyRung] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedTableType [dbo].[ImportDetail]    Script Date: 11/13/2022 10:07:05 AM ******/
CREATE TYPE [dbo].[ImportDetail] AS TABLE(
	[proID] [varchar](13) NOT NULL,
	[proName] [nvarchar](max) NOT NULL,
	[qty] [int] NOT NULL,
	[upis] [money] NOT NULL,
	[catID] [varchar](5) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ImportMaster]    Script Date: 11/13/2022 10:07:06 AM ******/
CREATE TYPE [dbo].[ImportMaster] AS TABLE(
	[impDate] [datetime] NOT NULL,
	[supID] [varchar](5) NOT NULL,
	[supplier] [nvarchar](max) NOT NULL,
	[supAdd] [nvarchar](max) NOT NULL,
	[supCon] [nvarchar](max) NOT NULL,
	[empID] [char](5) NOT NULL,
	[empKhName] [nvarchar](max) NOT NULL,
	[empEnName] [varchar](max) NOT NULL,
	[amount] [money] NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetUser]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetUser](@ID CHAR(5), @Position VARCHAR(30))
RETURNS @result TABLE
(
	EmpID			CHAR(5)									NOT NULL,
	EmpKhName		NVARCHAR(MAX) COLLATE KHMER_100_BIN		NOT NULL,
	EmpEnName		VARCHAR(MAX)							NOT NULL,
	EmpPos			VARCHAR(30)								NOT NULL,
	EmpUserName		VARCHAR (MAX)							NOT NULL,
    EmpPassword		VARCHAR (MAX)							NOT NULL
)

AS
BEGIN
	IF @Position = 'Admin'
		INSERT INTO @result 
			SELECT tbEmployee.EmpID, EmpKhName, EmpEnName, EmpPos, EmpUserName, EmpPassword 
				FROM tbEmployee INNER JOIN tbUser ON tbEmployee.EmpID = tbUser.EmpID WHERE tbEmployee.EmpID<>'0'
	ELSE
		INSERT INTO @result
			SELECT tbEmployee.EmpID, EmpKhName, EmpEnName, EmpPos, EmpUserName, EmpPassword 
				FROM tbEmployee INNER JOIN tbUser ON tbEmployee.EmpID = tbUser.EmpID WHERE tbEmployee.EmpID=@ID
	RETURN
END
GO
/****** Object:  Table [dbo].[tbSupplier]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSupplier](
	[SupID] [varchar](5) NOT NULL,
	[Supplier] [nvarchar](max) NOT NULL,
	[SupAdd] [nvarchar](max) NOT NULL,
	[SupContact] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_sup] PRIMARY KEY CLUSTERED 
(
	[SupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSupplier]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetSupplier]()
RETURNS TABLE AS RETURN
(
	SELECT SupID AS [Supplier ID], Supplier, SupAdd AS [Supplier Address], SupContact AS [Supplier Contect] FROM tbSupplier
)
GO
/****** Object:  Table [dbo].[tbCustomer]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCustomer](
	[CusID] [int] IDENTITY(1,1) NOT NULL,
	[CusKhName] [nvarchar](max) NOT NULL,
	[CusEnName] [varchar](max) NOT NULL,
	[CusAdd] [nvarchar](max) NOT NULL,
	[CusContact] [varchar](12) NOT NULL,
 CONSTRAINT [pk_cus] PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomer]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetCustomer]()
RETURNS TABLE AS RETURN
(
	SELECT CusID AS [Customer ID], CusKhName AS [Name in Khmer], CusEnName AS [Name is English], CusAdd AS [Customer Address], CusContact AS [Customer Contect] FROM tbCustomer
)
GO
/****** Object:  Table [dbo].[tbEmployee]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbEmployee](
	[EmpID] [char](5) NOT NULL,
	[EmpKhName] [nvarchar](max) NOT NULL,
	[EmpEnName] [varchar](max) NOT NULL,
	[Sex] [char](1) NOT NULL,
	[DOB] [date] NOT NULL,
	[EmpAdd] [nvarchar](max) NOT NULL,
	[EmpPos] [varchar](30) NOT NULL,
	[Salary] [money] NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Photo] [varbinary](max) NOT NULL,
	[HireDate] [date] NOT NULL,
	[Stopwork] [bit] NULL,
 CONSTRAINT [pk_emp] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetEmployee]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetEmployee]()
RETURNS TABLE AS RETURN
(
	SELECT EmpID AS [ID], EmpKhName AS [Khmer Name], EmpEnName AS [English Name] , Sex AS [Sex], DOB AS [Date Of Birth],
			EmpPos AS [Position], Salary, EmpAdd AS [Address], Phone AS [Contact],
			HireDate AS [Hired Date], Photo AS [Photo]
			FROM tbEmployee
	WHERE (stopwork = 'false' AND EmpID <> '0') 
)
GO
/****** Object:  Table [dbo].[tbCategory]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategory](
	[CatID] [varchar](5) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
 CONSTRAINT [pk_cat] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCatagory]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetCatagory]()
RETURNS TABLE AS RETURN
(
	SELECT CatID as [Category ID], Category FROM tbCategory
)
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[UserID] [char](5) NOT NULL,
	[EmpUserName] [varchar](max) NOT NULL,
	[EmpPassword] [varchar](max) NOT NULL,
	[EmpID] [char](5) NOT NULL,
 CONSTRAINT [pk_user] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetNonUser]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetNonUser]() 
RETURNS TABLE AS RETURN
(
	SELECT * FROM tbEmployee WHERE EmpID NOT IN (SELECT EmpID FROM tbUser)
)
GO
/****** Object:  Table [dbo].[tbProduct]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProduct](
	[ProID] [varchar](13) NOT NULL,
	[ProName] [nvarchar](max) NOT NULL,
	[ProQty] [int] NOT NULL,
	[UPIS] [money] NOT NULL,
	[SUP] [money] NOT NULL,
	[CatID] [varchar](5) NOT NULL,
 CONSTRAINT [pk_pro] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetProduct]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetProduct]()
RETURNS TABLE AS RETURN
(
	SELECT ProID AS [Product ID], ProName AS [Product Name], ProQty AS [QTY], UPIS AS [Unit Price In Stock], SUP AS [Sale Unit Price], Category 
	FROM tbProduct INNER JOIN tbCategory ON tbProduct.CatID = tbCategory.CatID
)
GO
/****** Object:  Table [dbo].[tbImport]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbImport](
	[ImpID] [int] IDENTITY(1,1) NOT NULL,
	[ImpDate] [datetime] NOT NULL,
	[SupID] [varchar](5) NOT NULL,
	[Supplier] [nvarchar](max) NOT NULL,
	[EmpID] [char](5) NOT NULL,
	[EmpKhName] [nvarchar](max) NOT NULL,
	[EmpEnName] [varchar](max) NOT NULL,
	[ImpTotal] [money] NOT NULL,
 CONSTRAINT [pk_imp] PRIMARY KEY CLUSTERED 
(
	[ImpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbImportDetail]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbImportDetail](
	[ProID] [varchar](13) NOT NULL,
	[ProName] [nvarchar](max) NOT NULL,
	[ImpID] [int] NOT NULL,
	[ImpQty] [int] NOT NULL,
	[ImpPrice] [money] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [pk_impDetail] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC,
	[ImpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSale]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[CusID] [int] NOT NULL,
	[CusKhName] [nvarchar](max) NOT NULL,
	[CusEnName] [varchar](max) NOT NULL,
	[EmpID] [char](5) NOT NULL,
	[EmpKhName] [nvarchar](max) NOT NULL,
	[EmpEnName] [varchar](max) NOT NULL,
	[SaleTotal] [money] NOT NULL,
 CONSTRAINT [pk_sale] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSaleDetail]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSaleDetail](
	[ProID] [varchar](13) NOT NULL,
	[ProName] [nvarchar](max) NOT NULL,
	[SaleID] [int] NOT NULL,
	[SaleQty] [int] NOT NULL,
	[SalePrice] [money] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [pk_saleDetail] PRIMARY KEY CLUSTERED 
(
	[ProID] ASC,
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbImport]  WITH CHECK ADD  CONSTRAINT [fk_imp_emp] FOREIGN KEY([EmpID])
REFERENCES [dbo].[tbEmployee] ([EmpID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbImport] CHECK CONSTRAINT [fk_imp_emp]
GO
ALTER TABLE [dbo].[tbImport]  WITH CHECK ADD  CONSTRAINT [fk_sup] FOREIGN KEY([SupID])
REFERENCES [dbo].[tbSupplier] ([SupID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbImport] CHECK CONSTRAINT [fk_sup]
GO
ALTER TABLE [dbo].[tbImportDetail]  WITH CHECK ADD  CONSTRAINT [fk_imp] FOREIGN KEY([ImpID])
REFERENCES [dbo].[tbImport] ([ImpID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbImportDetail] CHECK CONSTRAINT [fk_imp]
GO
ALTER TABLE [dbo].[tbImportDetail]  WITH CHECK ADD  CONSTRAINT [fk_pro_impDetail] FOREIGN KEY([ProID])
REFERENCES [dbo].[tbProduct] ([ProID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbImportDetail] CHECK CONSTRAINT [fk_pro_impDetail]
GO
ALTER TABLE [dbo].[tbProduct]  WITH CHECK ADD  CONSTRAINT [fk_cat] FOREIGN KEY([CatID])
REFERENCES [dbo].[tbCategory] ([CatID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbProduct] CHECK CONSTRAINT [fk_cat]
GO
ALTER TABLE [dbo].[tbSale]  WITH CHECK ADD  CONSTRAINT [fk_cus] FOREIGN KEY([CusID])
REFERENCES [dbo].[tbCustomer] ([CusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbSale] CHECK CONSTRAINT [fk_cus]
GO
ALTER TABLE [dbo].[tbSale]  WITH CHECK ADD  CONSTRAINT [fk_sale_emp] FOREIGN KEY([EmpID])
REFERENCES [dbo].[tbEmployee] ([EmpID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbSale] CHECK CONSTRAINT [fk_sale_emp]
GO
ALTER TABLE [dbo].[tbSaleDetail]  WITH CHECK ADD  CONSTRAINT [fk_pro_saleDetail] FOREIGN KEY([ProID])
REFERENCES [dbo].[tbProduct] ([ProID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbSaleDetail] CHECK CONSTRAINT [fk_pro_saleDetail]
GO
ALTER TABLE [dbo].[tbSaleDetail]  WITH CHECK ADD  CONSTRAINT [fk_sale] FOREIGN KEY([SaleID])
REFERENCES [dbo].[tbSale] ([SaleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbSaleDetail] CHECK CONSTRAINT [fk_sale]
GO
ALTER TABLE [dbo].[tbUser]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([EmpID])
REFERENCES [dbo].[tbEmployee] ([EmpID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbUser] CHECK CONSTRAINT [fk_user]
GO
/****** Object:  StoredProcedure [dbo].[ProCategory]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProCategory]
	(@Type varchar(20),
	@CatID varchar(5),
	@Category nvarchar(max))
AS

BEGIN
	IF(@Type='insert')
		INSERT INTO tbCategory VALUES(@CatID, @Category)
	ELSE IF(@Type='update')
		UPDATE tbCategory
		SET Category = @Category
		WHERE CatID = @CatID
END
GO
/****** Object:  StoredProcedure [dbo].[ProCustomer]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProCustomer]
	(@Type varchar(20),
	@CusID int,
	@CusKhName nvarchar(max),
	@CusEnName varchar(max),
	@CusAddress nvarchar(max),
	@CusContect nvarchar(max))
AS

BEGIN
	IF(@Type='insert')
		INSERT INTO tbCustomer (CusKhName,CusEnName,CusAdd,CusContact) VALUES(@CusKhName, @CusEnName, @CusAddress, @CusContect)
	ELSE IF(@Type='update')
		UPDATE tbCustomer
		SET CusKhName = @CusKhName,
			CusEnName = @CusEnName,
			CusAdd = @CusAddress,
			CusContact = @CusContect
		WHERE CusID = @CusID
END
GO
/****** Object:  StoredProcedure [dbo].[ProEmployee]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProEmployee]
	(@Type varchar(20),
	@ID char(5),
	@KName nvarchar(max),
	@EName varchar(max),
	@Sex char,
	@DOB date,
	@Address nvarchar(max),
	@Position varchar(30),
	@Salary money,
	@Phone varchar(10),
	@Photo varbinary(max),
	@Hire date)
AS

BEGIN
	IF(@Type='insert')
		INSERT INTO tbEmployee VALUES(@ID, @KName, @EName, @Sex, @DOB, @Address, @Position, @Salary, @Phone, @Photo, @Hire, 'false')
	ELSE IF(@Type='update')
		UPDATE tbEmployee
		SET EmpKhName = @KName,
			EmpEnName = @EName,
			Sex = @Sex,
			DOB = @DOB,
			EmpAdd = @Address,
			EmpPos = @Position,
			Salary = @Salary,
			Phone = @Phone,
			Photo = @Photo,
			HireDate = @Hire,
			Stopwork = 'false'
		WHERE EmpID = @ID
	ELSE IF(@Type='delete')
		UPDATE tbEmployee
		SET Stopwork = 'true'
		WHERE EmpID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[ProImport]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProImport](@isNewSupplier char, @IM as ImportMaster READONLY, @ID as ImportDetail READONLY)
AS
BEGIN
	DECLARE @supID varchar(5) 
	DECLARE @impID INT

	SELECT @supID = supID FROM @IM

	IF(@isNewSupplier = '1')
		BEGIN
			IF(EXISTS(SELECT Supplier FROM tbSupplier WHERE @supID = SupID))
				THROW 60000,'Supplier ID already exists.',1
			ELSE
				BEGIN
					INSERT INTO tbSupplier(SupID, Supplier, SupAdd, SupContact)
					SELECT supID, supplier, supAdd, supCon FROM @IM

					INSERT INTO tbImport(ImpDate, SupID, Supplier, EmpID, EmpKhName, EmpEnName, ImpTotal)
					SELECT impDate, supID, supplier, empID, empKhName, empEnName, amount FROM @IM
				END
		END

	ELSE
		BEGIN
			INSERT INTO tbImport(ImpDate, SupID, Supplier, EmpID, EmpKhName, EmpEnName, ImpTotal)
			SELECT impDate, supID, supplier, empId, empKhName, empEnName, amount FROM @IM
		END
	

	SELECT @impID = MAX(impID) FROM tbImport

	DECLARE @proID VARCHAR(13)
	DECLARE @proName NVARCHAR(MAX)
	DECLARE @qty INT
	DECLARE @upis MONEY
	DECLARE @sup MONEY
	DECLARE @catID varchar(5)

	DECLARE csDetail CURSOR SCROLL DYNAMIC
	FOR SELECT * FROM @ID

	OPEN csDetail

	FETCH FIRST FROM csDetail INTO @proID, @proName, @qty, @upis, @catID
	WHILE(@@FETCH_STATUS=0)
		BEGIN
			IF((SELECT COUNT(proID) FROM tbProduct WHERE proID=@proID)=0)
				BEGIN
					INSERT INTO tbProduct
					VALUES(@proID, @proName, @qty, @upis, @upis+2, @catID)
				END
			ELSE
				BEGIN
					UPDATE tbProduct 
					SET ProQty=ProQty+@qty, upis=@upis
					WHERE proID=@proID
				END
			INSERT INTO tbImportDetail
			VALUES(@proID, @proName, @impID, @qty, @upis, @upis*@qty)
			
			FETCH NEXT FROM csDetail INTO @proID, @proName, @qty, @upis, @catID
		END
END
GO
/****** Object:  StoredProcedure [dbo].[ProProduct]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProProduct]
	(@Type varchar(20),
	@ProID varchar(13),
	@ProName nvarchar(max),
	@ProQty int,
	@UPIS money,
	@SUP money,
	@CatID varchar(5))
AS

BEGIN
	IF(@Type='update')
		UPDATE tbProduct
		SET ProName = @ProName,
			ProQty = @ProQty,
			UPIS = @UPIS,
			SUP = @SUP,
			CatID = @CatID
		WHERE ProID = @ProID
	ELSE IF(@Type='delete')
		DELETE tbProduct WHERE ProID=@ProID
END
GO
/****** Object:  StoredProcedure [dbo].[ProSearchCategory]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProSearchCategory](@s NVARCHAR(MAX))
AS 

BEGIN

	IF((SELECT COUNT(CatID) FROM tbCategory WHERE Category LIKE N'%'+@s+'%')>0)
			SELECT CatID as [Category ID], Category FROM tbCategory WHERE Category LIKE N'%'+@s+'%'
	ELSE
		SELECT CatID as [Category ID], Category FROM tbCategory WHERE CatID LIKE '%'+@s+'%'	
END
GO
/****** Object:  StoredProcedure [dbo].[ProSearchCustomer]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProSearchCustomer](@s NVARCHAR(MAX))
AS 

BEGIN

	IF((SELECT COUNT(CusID) FROM tbCustomer WHERE (CusKhName LIKE N'%'+@s+'%'))>0)
			SELECT CusID AS [Customer ID], CusKhName AS [Name in Khmer], CusEnName AS [Name is English], CusAdd AS [Customer Address], CusContact AS [Customer Contect] 
			FROM tbCustomer WHERE (CusKhName LIKE N'%'+@s+'%')

	ELSE IF((SELECT COUNT(CusID) FROM tbCustomer WHERE (CusID LIKE '%'+@s+'%'))>0)
		SELECT CusID AS [Customer ID], CusKhName AS [Name in Khmer], CusEnName AS [Name is English], CusAdd AS [Customer Address], CusContact AS [Customer Contect] 
			FROM tbCustomer WHERE (CusID LIKE '%'+@s+'%')

	ELSE
		SELECT CusID AS [Customer ID], CusKhName AS [Name in Khmer], CusEnName AS [Name is English], CusAdd AS [Customer Address], CusContact AS [Customer Contect] 
			FROM tbCustomer WHERE (CusEnName LIKE '%'+@s+'%')	
END
GO
/****** Object:  StoredProcedure [dbo].[ProSearchEmployee]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProSearchEmployee](@s NVARCHAR(MAX))
AS 

BEGIN

	IF((SELECT COUNT(EmpID) FROM tbEmployee WHERE (stopwork = 'false' AND EmpKhName LIKE N'%'+@s+'%'))>0)
			SELECT EmpID AS [ID], EmpKhName AS [Khmer Name], EmpEnName AS [English Name] , Sex AS [Sex], DOB AS [Date Of Birth],
				EmpPos AS [Position], Salary, EmpAdd AS [Address], Phone AS [Contact],
				HireDate AS [Hired Date], Photo AS [Photo]
				FROM tbEmployee WHERE (stopwork = 'false' AND EmpKhName LIKE N'%'+@s+'%')

	ELSE IF((SELECT COUNT(EmpID) FROM tbEmployee WHERE (stopwork = 'false' AND EmpID LIKE '%'+@s+'%'))>0)
		SELECT EmpID AS [ID], EmpKhName AS [Khmer Name], EmpEnName AS [English Name] , Sex AS [Sex], DOB AS [Date Of Birth],
			EmpPos AS [Position], Salary, EmpAdd AS [Address], Phone AS [Contact],
			HireDate AS [Hired Date], Photo AS [Photo]
			FROM tbEmployee WHERE (stopwork = 'false' AND EmpID LIKE '%'+@s+'%')

	ELSE
		SELECT EmpID AS [ID], EmpKhName AS [Khmer Name], EmpEnName AS [English Name] , Sex AS [Sex], DOB AS [Date Of Birth],
				EmpPos AS [Position], Salary, EmpAdd AS [Address], Phone AS [Contact],
				HireDate AS [Hired Date], Photo AS [Photo]
				FROM tbEmployee WHERE (stopwork = 'false' AND EmpEnName LIKE '%'+@s+'%')	
END
GO
/****** Object:  StoredProcedure [dbo].[ProSearchProduct]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProSearchProduct](@s NVARCHAR(MAX))
AS 

BEGIN

	IF((SELECT COUNT(ProID) FROM tbProduct WHERE ProName LIKE N'%'+@s+'%')>0)
			SELECT ProID AS [Product ID], ProName AS [Product Name], ProQty AS [QTY], UPIS AS [Unit Price In Stock], SUP AS [Sale Unit Price], Category 
			FROM tbProduct INNER JOIN tbCategory ON tbProduct.CatID = tbCategory.CatID WHERE ProName LIKE N'%'+@s+'%'
	ELSE
		SELECT ProID AS [Product ID], ProName AS [Product Name], ProQty AS [QTY], UPIS AS [Unit Price In Stock], SUP AS [Sale Unit Price], Category 
		FROM tbProduct INNER JOIN tbCategory ON tbProduct.CatID = tbCategory.CatID WHERE ProID LIKE '%'+@s+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[ProSearchSupplier]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProSearchSupplier](@s NVARCHAR(MAX))
AS 

BEGIN

	IF((SELECT COUNT(SupID) FROM tbSupplier WHERE Supplier LIKE N'%'+@s+'%')>0)
			SELECT SupID AS [Supplier ID], Supplier, SupAdd AS [Supplier Address], SupContact AS [Supplier Contect] FROM tbSupplier WHERE Supplier LIKE N'%'+@s+'%'
	ELSE
		SELECT SupID AS [Supplier ID], Supplier, SupAdd AS [Supplier Address], SupContact AS [Supplier Contect] FROM tbSupplier WHERE SupID LIKE '%'+@s+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[ProSupplier]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[ProSupplier]
	(@Type varchar(20),
	@SupID varchar(5),
	@Supplier nvarchar(max),
	@SupAddress nvarchar(max),
	@SupContect nvarchar(max))
AS

BEGIN
	IF(@Type='insert')
		INSERT INTO tbSupplier VALUES(@SupID, @Supplier, @SupAddress, @SupContect)
	ELSE IF(@Type='update')
		UPDATE tbSupplier
		SET Supplier = @Supplier,
			SupAdd = @SupAddress,
			SupContact = @SupContect
		WHERE SupID = @SupID
END
GO
/****** Object:  StoredProcedure [dbo].[ProUser]    Script Date: 11/13/2022 10:07:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ProUser]
	(@Type varchar(20),
	@ID char(5),
	@UserName varchar (max),
    @Password varchar (max))
AS

BEGIN

	DECLARE @UID char(5)
	SET @UID = 'U'+@ID
	IF(@Type='insert')
		INSERT INTO tbUser VALUES(@UID,@UserName,@Password,@ID)
	ELSE IF(@Type='update')
		UPDATE tbUser
		SET EmpUserName = @UserName,
			EmpPassword = @Password
		WHERE UserID = @UID
	ELSE IF(@Type='delete')
		DELETE FROM tbUSER
		WHERE UserID = @UID
END
GO
